extends ../templates/template-main.pug
block variables
  - const pageClass = 'page-main'

block content
  .swiper.swiper-main
    .pagination-block
      .pagination-item.pagination-item_first
        .ball
        .ball-line.d-block.d-lg-none

      .pagination-item
      .pagination-item
      .pagination-item
    .swiper-wrapper
      .swiper-slide.slidePageOne
        .container
          .slide-one__wrap
            .slide-one__left
              .d-none.d-lg-block
                h1.h1 Раскрывая природу питомцев
                .large-text Полнорационные корма для кошек 
              #CatWithCup.cat-with-cup
            .slide-one__right
              .d-block.d-lg-none
                .h1 Раскрывая<br> природу<br> питомцев
                .large-text Полнорационные корма для кошек 
              img(src=`./img/main-banner-1.png` alt='', title='').main-banner-1
              .buttons-wrap.justify-content-start.justify-content-lg-center
                +button({
                  mod: 'button_big button_red',
                  text: 'Перейти в каталог'
                })
      .swiper-slide.slidePageTwo
        .slide-two__wrap-desk.d-none.d-lg-block
          .container
            .slide-two__wrap
              .slide-two__left
                h2.title.text-white Основные преимущества
                .main-advantages
                  ul.main-advantages__list
                    -for (var i = 0; i < 4; i++)
                      li.main-advantages__list-item
                        img(src=`./img/advantages-icon-${i + 1}.svg` alt='', title='').main-advantages__list-item--img
                        .main-advantages__list-item--text Описание иконки с ограничением в две строки

                #CatOnHome.cat-on-home
                p.large-text.text-white Полезный и вкусный корм — это нетолько набор ингредиентов, но прежде всего качество ингредиентов, правильный баланс 

              .slide-two__right
                h2.title.text-white Ингредиенты
                .large-text.text-white Полезный и вкусный корм — это не только набор ингредиентов, но прежде всего качество ингредиентов, правильный баланс 
                .main-banner-2__wrap
                  #CatAndFoodEyes.cat-and-food-eyes
                  .main-banner-2

        // ДЛЯ МОБИЛКИ, НЕ УДАЛЯТЬ!!!!
        .swiper.slider-hor.d-block.d-lg-none
          .swiper-wrapper
            .swiper-slide
              .container
                .slider-hor__block
                  h2.title.text-white Основные преимущества
                  .main-advantages
                    ul.main-advantages__list
                      -for (var i = 0; i < 4; i++)
                        li.main-advantages__list-item
                          img(src=`./img/advantages-icon-${i + 1}.svg` alt='', title='').main-advantages__list-item--img
                          .main-advantages__list-item--text Описание иконки с ограничением в две строки

                  #CatOnHomeMob.cat-on-home
                  .main-advantages__desc.large-text.text-white Полезный и вкусный корм — это нетолько набор ингредиентов, но прежде всего качество ингредиентов, правильный баланс 
                  .swiper-hor-button-next Ингредиенты

            .swiper-slide
              .container
                .slider-hor__block
                  h2.title.text-white Ингредиенты
                  .main-advantages__desc.large-text.text-white Полезный и вкусный корм — это не только набор ингредиентов, но прежде всего качество ингредиентов, правильный баланс 
                  .main-banner-2__wrap
                    #CatAndFoodEyesMob.cat-and-food-eyes
                    .main-banner-2
                  .swiper-hor-button-prev Основные преимущества


      .swiper-slide.slidePageThree
        .container
          .slide-three__wrap
            .slide-three__left
              h2.title-middle Кошки
              ul.cats-list
                each val in ['Влажные корма','Лакомства','Сухие корма','Влажные корма','Лакомства','Влажные корма','Лакомства','Сухие корма','Влажные корма','Лакомства',]
                  li.cats-list__item
                    a(href="javascript:void(0);").cats-list__item-link !{val}

            .slide-three__right
              .cat-and-vase__wrap
                #catAndVase.cat-and-vase
                #vase.vase

      .swiper-slide.slidePageFour
        #catWatch.cat-watch
        .container
          .slide-four__wrap
            .slide-four__left
              h2.title-middle.text-white Калькулятор <br> дневной порции

              .buttons-wrap
                +button({
                  mod: 'button_big button_red',
                  text: 'Рекомендуемые товары'
                })
            .slide-four__right.d-none.d-lg-flex
              img(src='./img/cat-little.svg' alt='', title='').cat-img
              h3.h3.text-left.text-white Рекомендации по переходу на новый корм
              .text-small.text-left.text-white Только для товаров ЭНСО
              .food-parts__main
                .food-parts
                  each val, index in ['1 день','2 день','3 день','4 день']
                    .food-part
                      img(src=`./img/food-part-img_main-${index + 1}.svg` alt='', title='').food-part__img
                      p.food-part__text !{val}
                .food__color-wrap
                  .food__color.food__color-new новый корм
                  .food__color.food__color-old старый корм

      .swiper-slide.slidePageFive
        .border-line_mob.d-block.d-lg-none
        footer.footer-wrap
          .container
            .footer
              ul.footer-list
                each val in ['Ассортимент','Попробуй пойми!','Узнай больше','Обратная связь','Где купить?','Контакты']
                  li.footer-list__item
                    a(href="javascript:void(0);").footer-list__link !{val}
              .footer-img
              // animation
              #CatFooter.cat-footer

              .footer-block__info
                a(href="javascript:void(0);").politic Политика конфиденциальности
                .copy Создание сайта — nopreset




