
mixin section-item(title)
  a(href="javascript:void(0);").catalog_section__item(style="background-image:url('./img/bg.png')")
    .section-item__title !{title}

mixin service-preview-item(title)
    a.service-preview__item(href="javascript:void(0);")
      .service-preview__images(style="background-image:url('./img/fara.jpg')")
      .service-preview__desc
        .service-preview__title !{title}
        .btn Подробнее

mixin catalog-preview-item
  a.catalog-preview__item(href="javascript:void(0);")
    .catalog-preview__images(style="background-image:url('./img/tyaga.png')")
    .catalog-preview__desc
      .catalog-preview__title Тягач Sitrak C7H
      .catalog-preview__text
        p
          span.bold Тип:
          span.thin Седельный тягач
        p
          span.bold Высота ССУ:
          span.thin 1 150 мм
        p
          span.bold Колесная формула:
          span.thin 4х2
        p
          span.bold КПП:
          span.thin МКПП
        p
          span.bold Ретардер:
          span.thin нет
        p
          span.bold Подвеска:
          span.thin Спередняя ресорная, задняя пневматическая
        p
          span.bold Кабина:
          span.thin 2 спальных места
        p
          span.bold Экологический класс:
          span.thin Евро-5
      .catalog-preview__price 8 620 000 ₽
      button.btn Подробнее




mixin button(data)
  - mod = data.mod || ''
  a(href="javascript:void(0);" class=`button ${mod}`) !{data.text}


mixin checkbox(text)
  label.checkbox-label
    input(type='checkbox').checkbox-input
    .checkbox-text
      span !{text}

mixin radio(data)
  - checked = data.checked || ''
  label.radio-label
    if(data.checked)
      input(type='radio' name=`${data.name}` checked).checkbox-input
    else
      input(type='radio' name=`${data.name}`).checkbox-input
    span !{data.text} 

mixin news-item(data)
  - mod = data.mod || ''
  a(href="javascript:void(0);" class=`${mod}`).news-item
    .news-img__wrap
      img(src=`img/${data.img}` alt='', title='').news-img
    .news-date 21.07.2023
    .news-desc
      .news-title !{data.title}
      .news-text !{data.text}



mixin search-block
  form.search-block
    .search-block__input-wrap
      //.disclaimer Наличие товаров уточняйте в магазине
      input(type='search' placeholder='Поиск' required).search-block__input
      button(type='reset').icon-clear
      a(href="javascript:void(0);").search-block__icon
        +icon('search', 'icon-search')


mixin structure-item(data)
  .structure-item
    img(src=`img/${data.img}` alt='', title='').structure-img
    .structure-title !{data.title}
    .structure-percent !{data.percent}


