
mixin section-item(title)
  a(href="javascript:void(0);").catalog_section__item(style="background-image:url('./img/bg.png')")
    .section-item__title !{title}

mixin service-preview-item(title)
  a(href="javascript:void(0);").service-preview__item
    .service-preview__images(style="background-image:url('./img/fara.jpg')")
    .service-preview__desc
      .service-preview__title !{title}
      .btn Подробнее

mixin catalog-preview-item
  a(href="javascript:void(0);").catalog-preview__item
    .catalog-preview__images(style="background-image:url('./img/tyaga.png')")
    .catalog-preview__desc
      .catalog-preview__title Тягач Sitrak C7H
      .catalog-preview__list
        p.catalog-property__item 
          span.catalog-property__name Тип:
          span.catalog-property__value Седельный тягач
        p.catalog-property__item
          span.catalog-property__name Высота ССУ:
          span.catalog-property__value 1 150 мм
        p.catalog-property__item
          span.catalog-property__name Колесная формула:
          span.catalog-property__value 4х2
        p.catalog-property__item
          span.catalog-property__name КПП:
          span.catalog-property__value МКПП
        p.catalog-property__item
          span.catalog-property__name Ретардер:
          span.catalog-property__value нет
        p.catalog-property__item
          span.catalog-property__name Подвеска:
          span.catalog-property__value Спередняя ресорная, задняя пневматическая
        p.catalog-property__item
          span.catalog-property__name Кабина:
          span.catalog-property__value 2 спальных места
        p.catalog-property__item
          span.catalog-property__name Экологический класс:
          span.catalog-property__value Евро-5
      button.btn Подробнее

mixin manuals-item
  .manuals__item
    .manuals__images
      img(src="./img/tyaga.png", alt="")
    .manuals__desc
      .manuals__title Руководство по эксплуатации автомобиля SITRAK C7H
      .manuals__txt В этом руководстве представлена информация об эксплуатации, плановом техническом обслуживании и техническом обслуживании автомобилей серии SITRAK -C7H, а также представлены соответствующие правила безопасности, которые необходимо соблюдать при использовании автомобиля.
      a(href="javascript:void(0);" download).btn Скачать

mixin news-preview-item 
  .news-preview__item
    .news-preview__images
      img(src="./img/tyaga.png", alt="")
    .news-preview__desc
      .news-preview__date 01.03.2024
      .news-preview__title Руководство по эксплуатации автомобиля SITRAK C7H
      .news-preview__txt В этом руководстве представлена информация об эксплуатации, плановом техническом обслуживании и техническом обслуживании автомобилей серии SITRAK -C7H, а также представлены соответствующие правила безопасности, которые необходимо соблюдать при использовании автомобиля.
      a(href="javascript:void(0);").btn Читать далее


mixin button(data)
  - mod = data.mod || ''
  a(href="javascript:void(0);" class=`button ${mod}`) !{data.text}


mixin checkbox(text)
  label.checkbox-label
    input(type='checkbox').checkbox-input
    .checkbox-text
      span !{text}

mixin radio(data)
  - checked = data.checked || ''
  label.radio-label
    if(data.checked)
      input(type='radio' name=`${data.name}` checked).checkbox-input
    else
      input(type='radio' name=`${data.name}`).checkbox-input
    span !{data.text} 

mixin news-item(data)
  - mod = data.mod || ''
  a(href="javascript:void(0);" class=`${mod}`).news-item
    .news-img__wrap
      img(src=`img/${data.img}` alt='', title='').news-img
    .news-date 21.07.2023
    .news-desc
      .news-title !{data.title}
      .news-text !{data.text}



mixin search-block
  form.search-block
    .search-block__input-wrap
      //.disclaimer Наличие товаров уточняйте в магазине
      input(type='search' placeholder='Поиск' required).search-block__input
      button(type='reset').icon-clear
      a(href="javascript:void(0);").search-block__icon
        +icon('search', 'icon-search')


mixin structure-item(data)
  .structure-item
    img(src=`img/${data.img}` alt='', title='').structure-img
    .structure-title !{data.title}
    .structure-percent !{data.percent}


